*{
    font-family: 'PT Sans', sans-serif;
    color:rgb(40, 40, 40);
    --main-primary: rgb(0, 100, 255);
    --main-font-color: rgb(40, 40, 40);
    --secondary-font-color: rgb(255, 255, 255)
}
#mortgage-calculator{
    display: flex;
    flex-direction: column;
}
#mortgage-calculator>.label-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#mortgage-calculator>#paymentBreakdown{
    /* background-color: cyan; */
}
#mortgage-calculator>#paymentBreakdown>.breakdown-item{
    border-bottom: 1px solid rgb(40, 40, 40);;
    padding: 0.5rem 0;
    font-size: 1.25rem;
}
input, select{
    padding: 0.5rem 0.3rem;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
}
input#downPayment{
    flex: 1;
}
input#homePrice{
    flex: 1;
}
input#interestRate{
    flex: 1;
}
button.btn{
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border: 0;
    border-radius: 4px;
}
button.btn.btn-primary{
    background-color: var(--main-primary);
    color: var(--secondary-font-color)
}


/* flex */
.flex{
    display: flex
}
.flex.flex-column{
    flex-direction: column;
}
.flex.justify-content-between{
    justify-content: space-between;
}
.flex.align-items-center{
    align-items: center;
}

/* margin */
.m-1{
    margin: 0.25rem;
}
.m-2{
    margin: 0.5rem;
}
.m-3{
    margin: 1rem;
}
.m-4{
    margin: 2rem;
}
.m-5{
    margin: 4rem;
}
.ml-1{
    margin-left: 0.25rem;
}
.ml-2{
    margin-left: 0.5rem;
}
.ml-3{
    margin-left: 1rem;
}
.ml-4{
    margin-left: 2rem;
}
.ml-5{
    margin-left: 4rem;
}
.mr-1{
    margin-right: 0.25rem;
}
.mr-2{
    margin-right: 0.5rem;
}
.mr-3{
    margin-right: 1rem;
}
.mr-4{
    margin-right: 2rem;
}
.mr-5{
    margin-right: 4rem;
}
.mx-1{
    margin: 0 0.25rem;
}
.mx-2{
    margin: 0 0.5rem;
}
.mx-3{
    margin: 0 1rem;
}
.mx-4{
    margin: 0 2rem;
}
.mx-5{
    margin: 0 4rem;
}
.my-1{
    margin: 0.25rem 0;
}
.my-2{
    margin: 0.5rem 0;
}
.my-3{
    margin: 1rem 0;
}
.my-4{
    margin: 2rem 0;
}
.my-5{
    margin: 4rem 0;
}

/* padding */
.p-1{
    margin: 0.25rem;
}
.p-2{
    margin: 0.5rem;
}
.p-3{
    margin: 1rem;
}
.p-4{
    margin: 2rem;
}
.p-5{
    margin: 4rem;
}
.pl-1{
    margin-left: 0.25rem;
}
.pl-2{
    margin-left: 0.5rem;
}
.pl-3{
    margin-left: 1rem;
}
.pl-4{
    margin-left: 2rem;
}
.pl-5{
    margin-left: 4rem;
}
.pr-1{
    margin-right: 0.25rem;
}
.pr-2{
    margin-right: 0.5rem;
}
.pr-3{
    margin-right: 1rem;
}
.pr-4{
    margin-right: 2rem;
}
.pr-5{
    margin-right: 4rem;
}
.px-1{
    margin: 0 0.25rem;
}
.px-2{
    margin: 0 0.5rem;
}
.px-3{
    margin: 0 1rem;
}
.px-4{
    margin: 0 2rem;
}
.px-5{
    margin: 0 4rem;
}
.py-1{
    margin: 0.25rem 0;
}
.py-2{
    margin: 0.5rem 0;
}
.py-3{
    margin: 1rem 0;
}
.py-4{
    margin: 2rem 0;
}
.py-5{
    margin: 4rem 0;
}